<button [class]="estilo" (click)="abrirModal(templateModal)">
  <i class="fa fa-trash"></i> {{ texto }}
</button>

<ng-template #templateModal>
  <div class="modal-body text-center">
    <p>
      Deseja realmente
      <span class="text-danger fw-bold">REMOVER</span>
      a tarefa <b>{{ nomeCard }}</b>?
    </p>
    <button class="btn btn-danger mx-2" (click)="confirmar()">
      Sim
    </button>
    <button class="btn btn-primary" (click)="cancelar()">
      Não
    </button>
  </div>
</ng-template>
