<button [disabled]="desabilitaBotao" [class]="estilo"
  (click)="texto === 'Editar' ? abrirModalEdicao(template) : abrirModalNovo(template)">
  <i [class]="icone" class="mr-2"></i> {{ texto }}
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ texto }} tarefa</h4>
    <button class="close btn btn-outline-dark pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <i class="fa fa-remove"></i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario" (keyup.enter)="$event.preventDefault()">

      <div class="form-group mb-4">
        <label class="fs-5" for="nome">Nome da tarefa</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" />
      </div>

      <div class="form-group">
        <label class="fs-5" for="description">Descrição</label>
        <textarea class="form-control" id="description" formControlName="descricao" rows="5"></textarea>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary btn-lg" [disabled]="formulario.invalid"
          (click)="texto === 'Editar' ? atualizaCard() : salvar()">
          Salvar
        </button>
      </div>
    </form>
  </div>
</ng-template>
